@mixin popover-variant($background, $color: color-yiq($background), $border-color: rgba(color-yiq($background), 0.2)) {
  background-color: $background;

  .popover-header {
    background-color: $background;
    color: $color;
    opacity: 0.6;
    border-color: $border-color;
  }

  .popover-body {
    color: $color;
  }

  &.bs-popover-top {
    .arrow::after {
      border-top-color: $background;
    }
  }

  &.bs-popover-right {
    .arrow::after {
      border-right-color: $background;
    }
  }

  &.bs-popover-bottom {
    .arrow::after {
      border-bottom-color: $background;
    }
  }

  &.bs-popover-left {
    .arrow::after {
      border-left-color: $background;
    }
  }
}
