$spacers: (
  sm: 8px,
  md: 16px,
  lg: 24px,
  xl: 32px
);

@each $size, $value in $spacers {
  .top-#{$size},
  .right-#{$size},
  .bottom-#{$size},
  .left-#{$size} {
    & {
      #{'top', 'right', 'bottom', 'left'}[$size] : $value;
    }
  }
}

.center {
  left: 50%;
  transform: calc(translateX(-50%));
}
