@keyframes fade-in {
  0% {
    box-shadow: none;
  }
  100% {
    box-shadow: $box-shadow;
  }
}

.shadow {
  @if $enable-transitions {
    transition: $transition-base;
  }

  &:where(:hover, :focus, :active) {
    animation: fade-in 0.3s ease-in-out forwards;
  }

  &--sm {
    @include box-shadow($box-shadow-sm);
  }

  &--lg {
    @include box-shadow($box-shadow-lg);
  }

  &--none {
    @include box-shadow(none);
  }
}
