// Spacing columns vertically

.row.row-grid > [class*="col-"] + [class*="col-"] {
  margin-top: 3rem;
}

@include media-breakpoint-up(xl) or @include media-breakpoint-up(lg) or @include media-breakpoint-up(md) or @include media-breakpoint-up(sm) {
  .row.row-grid > [class*="col-"] + [class*="col-"] {
    margin-top: 0;
  }
}

.row-grid + .row-grid {
  margin-top: 3rem;
}

// Negative margins

.negative-margin {
  position: relative;
  z-index: 5;
}

.negative-margin--100 {
  margin-top: -100px !important;
  margin-right: -100px !important;
  margin-bottom: -100px !important;
  margin-left: -100px !important;
}

// Large margins

.large-margin {
  padding-top: 100px !important;
  padding-bottom: 100px !important;
}

.large-margin--150 {
  padding-top: 150px !important;
  padding-bottom: 150px !important;
}

.large-margin--200 {
  padding-top: 200px !important;
  padding-bottom: 200px !important;
}

.large-margin--250 {
  padding-top: 250px !important;
  padding-bottom: 250px !important;
}

.large-margin--300 {
  padding-top: 300px !important;
  padding-bottom: 300px !important;
}
