// Font weights
$font-weights: (
  300: normal,
  400: normal,
  500: normal,
  600: bold,
  700: bold,
  800: bold,
  900: bold
);

@each $weight, $style in $font-weights {
  .font-weight-#{$weight} {
    font-weight: #{$weight} !important;
    font-style: $style;
  }
}

// Text decorations
.text-underline {
  text-decoration: underline;
}

.text-through {
  text-decoration: line-through;
}

// Line heights
$line-heights: (
  100: 1,
  110: 1.1,
  120: 1.2,
  130: 1.3,
  140: 1.4,
  150: 1.5,
  160: 1.6,
  170: 1.7,
  180: 1.8
);

@each $height, $value in $line-heights {
  .lh-#{$height} {
    line-height: #{$value};
  }
}

// Contextual colors
.text-muted {
  color: $text-muted !important;
}

// Letter spacings
$letter-spacings: (
  1: .0625rem,
  15: .09375rem,
  2: 0.125rem
);

@each $spacing, $value in $letter-spacings {
  .ls-#{$spacing} {
    letter-spacing: #{$value};
  }
}
