# path/to/requirements.txt

# Removed package versions to allow pip to attempt to solve the dependency conflicts
aioconsole
aiohttp
aiopg
aioredis
aiosignal
alabaster
aniso8601
annotated-types
anyio
aredis
argcomplete
argon2-cffi
argon2-cffi-bindings
arrow
asgiref
asttokens
async-lru
async-timeout
AsyncClient
asyncio
asyncpg
attrs
Babel
backoff
beautifulsoup4
black
bleach
blinker
bokeh
Brotli
bs4
cachetools
certifi
cffi
charset-normalizer
click
colorama
comm
contourpy
cryptography
debugpy
decorator
defusedxml
distlib
distro
distutils_ui
Django
django-debug-toolbar
docutils
dynaconf
executing
fastjsonschema
filelock
fqdn
frozenlist
fsspec
gitignore_parser
gunicorn
h11
httpcore
httpx
idna
imageio
imageio-ffmpeg
imagesize
iniconfig
instagramthiefBot
ipykernel
ipython
ipywidgets
isal
isodate
isoduration
itsdangerous
jedi
Jinja2
joblib
json5
jsonpointer
jsonschema
jsonschema-path
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
lazy-object-proxy
linkify-it-py
logger
Markdown
markdown-it-py
MarkupSafe
marshmallow
matplotlib-inline
mdit-py-plugins
mdurl
mistune
more-itertools
moviepy
mpmath
multidict
mypy-extensions
nbclient
nbconvert
nbformat
nest-asyncio
networkx
notebook
notebook_shim
numpy
openai
openapi-core
openapi-schema-validator
openapi-spec-validator
outcome
overrides
packaging
pandas
pandocfilters
panel
param
parse
parso
pathable
pathlib
pathspec
pexpect
pillow
pipx
platformdirs
pluggy
proglog
prometheus_client
prompt-toolkit
psutil
psycopg2
psycopg2-binary
psycopg2-pool
ptyprocess
pure-eval
pxpowershell
pycparser
pycryptodome
pycryptodomex
pydantic
pydantic_core
Pygments
pyOpenSSL
pyotp
pyperclip
PyQt5
PyQt5-Qt5
PyQt5-sip
PySocks
pytest
pytest-asyncio
pytest-localserver
python-dateutil
python-decouple
python-dotenv
python-json-logger
pytz
pyviz_comms
pywin32
pywinpty
PyYAML
pyzmq
qtconsole
QtPy
redis
referencing
regex
requests>=2.0.1,<3.0.0  # Loosen version constraint
requests-toolbelt
rfc3339-validator
rfc3986
rfc3986-validator
rpds-py
safetensors
scikit-learn
scipy
scoop
selenium
self
Send2Trash
setuptools
six
sniffio
snowballstemmer
sortedcontainers
soupsieve
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
SQLAlchemy
sqlparse
stack-data
svgwrite
sympy
tblib
tenacity
terminado
threadpoolctl
tinycss2
tokenizers
torch
tornado
tqdm
traitlets
transformers
Tree
trio
trio-websocket
types-python-dateutil
typing
typing_extensions
tzdata
uc-micro-py
ujson
uri-template
urllib3
userpath
validators
virtualenv
wcwidth
webcolors
webencodings
websocket-client
Werkzeug
wheel
whitenoise
widgetsnbextension
wsproto
xyzservices
yarl
zlib-fast
