# These are dependencies specified for a Python project
setuptools
pillow
requests
instagrapi
asyncio
asyncpg
aiohttp
python-dotenv
aioconsole
tenacity
pytest
aioredis
cachetools
pydantic
moviepy
urllib3
jupyter
attrs
cryptography
tornado
Jinja2
filelock
redis
Django
asgiref
sqlparse
psycopg2
colorama
numpy
click
ipython
gunicorn
packaging
greenlet
whitenoise
pathlib
panel
distro
wheel
pyOpenSSL
docutils
sphinx
tblib
validators
brotli

# Additional dependencies
typing
Flask
selenium

