$alert-padding-x: 2rem;
$close-size: 25px;
$close-padding: 3px;
$close-color: rgba(#fff, .6);
$close-hover-color: rgba(#fff, .9);
$icon-size: 22px;
$icon-margin-top: -11px;

.alert {
  border: 0;
  color: #fff;
  padding-left: 45px;
  position: relative;

  &.alert-success {
    background-color: darken(#4dbd74, 10%);
  }

  i.fa,
  i.tim-icons {
    font-size: $font-paragraph;
    position: absolute;
    left: 19px;
    top: 50%;
    margin-top: $icon-margin-top;
  }

  .close {
    color: $close-color;
    opacity: .9;
    text-shadow: none;
    line-height: 0;
    outline: 0;
    position: absolute;
    right: $alert-padding-x;
    top: 50%;
    width: $close-size;
    height: $close-size;
    padding: $close-padding;
    transform: translateY(-50%);

    &:hover,
    &:focus {
      color: $close-hover-color;
    }

    & > span:not(.sr-only) {
      font-size: 1.5rem;
      background-color: transparent;
      color: $close-color;
    }

    &:hover,
    &:focus {
      & > span:not(.sr-only) {
        background-color: transparent;
        color: $close-hover-color;
      }
    }
  }

  &.alert-with-icon {
    padding-left: 6
