$sizes: (
  xl: ($icon-size-xl, $icon-size-xl - .75),
  lg: ($icon-size-lg, $icon-size-lg - .75),
  sm: ($icon-size-sm, $icon-size-sm - .75)
);

@each $size-name, $( $width, $font-size ) in $sizes {
  .icon-#{$size-name} {
    width: $width;
    height: $width;

    i, svg {
      font-size: $font-size;
    }
  }

  .icon-#{$size-name} + .icon-text {
    width: calc(100% - #{$width} - 1);
  }
}

.icon-shape {
  padding: 12px;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

  i, svg {
    font-size: 1.25rem;
  }

  svg {
    width: 30px;
    height: 30px;
  }

  &.icon-lg {
    i, svg {
      font-size: 1.625rem;
    }
  }

  &.icon-sm {
    i, svg {
      font-size: .875rem;
    }
  }
}

@each $color, $value in $theme-colors {
  .icon-shape-#{$color} {
    @include icon-shape-variant(theme-color($color));
  }
}
