// Variables
$padding-lg-vertical: ...;
$padding-input-horizontal: ...;
$padding-input-vertical: ...;
$padding-base-vertical: ...;
$padding-base-horizontal: ...;
$padding-btn-vertical: ...;
$border-radius-lg: ...;
$black: ...;
$black-states: ...;
$white: ...;
$default: ...;
$medium-gray: ...;
$danger-states: ...;
$success: ...;
$transparent-bg: ...;
$primary: ...;
$light-gray: ...;

// Mixins
@mixin form-control-lg-padding($vertical, $horizontal) {
  ...
}

@mixin input-base-padding($vertical, $horizontal) {
  ...
}

@mixin transition-input-focus-color() {
  ...
}

// Form styles
.form-group {
  margin-bottom: 10px;
  position: relative;

  &.has-danger,
  &.has-success {
    .form-control-feedback,
    .control-label {
      color: $danger-states;
    }

    &.no-border {
      .form-control {
        &:focus {
          & + .input-group-prepend .input-group-text,
          & + .input-group-append .input-group-text {
            background-color: $transparent-bg;
          }
        }
      }

      .input-group-prepend .input-group-text,
      .input-group-append .input-group-text {
        background-color: $transparent-bg;

        &:focus,
        &:active {
          background-color: $transparent-bg;
        }
      }
    }
  }

  &.no-border,
  &.input-group.no-border {
    .form-control,
    .form-control + .input-group-prepend .input-group-text,
    .form-control + .input-group-append .input-group-text {
      ...
    }
  }

  .form-control[disabled],
  .form-control[readonly],
  fieldset[disabled] .form-control {
    ...
  }

  .input-group-btn .btn {
    ...
  }

  .input-group-btn .btn-default:not(.btn-fill) {
    ...
  }

  .input-group-btn:last-child > .btn {
    ...
  }

  textarea.form-control {
    ...
  }

  &.has-success,
  &.has-danger {
    &.form-group .form-control,
    &.form-group.no-border .form-control {
      ...
    }
  }
}

// Input group styles
.input-group {
  ...

  .input-group-prepend,
  .input-group-append {
    ...

    .tim-icons {
      ...
    }
  }

  .input-group-prepend {
    ...
  }

  .input-group-append {
    ...
  }
}

// Search bar styles
.search-bar {
  ...

  &.input-group {
    ...

    .input-group-addon {
      ...
    }

    i {
      ...
    }

    input {
      ...
    }

    .form-control {
      ...
    }
  }
}

// Modal search styles
.modal-search .modal-dialog {
  ...

  .form-control {
    ...

    &::placeholder {
      ...
    }
  }
}
