// Default nav link styles
.nav-link {
  color: $nav-link-color !default;

  &:hover {
    color: theme-color("primary") !important;
  }
}

// Nav pills styles
$nav-pills-properties: (
  padding-y: 0.2rem,
  padding-x: 0.5rem,
  link-color: $nav-pills-link-color,
  link-hover-color: $nav-pills-link-hover-color,
  link-active-color: $nav-pills-link-active-color,
  link-active-bg: $nav-pills-link-active-bg,
  bg: $nav-pills-bg
);

.nav-pills {

  .nav-link {
    @each $property, $value in $nav-pills-properties {
      #{$property}: $value;
    }
    transition: $transition-base;

    &:hover {
      color: map-get($nav-pills-properties, link-hover-color) !important;
    }
  }

  .nav-link.active,
  .show > .nav-link {
    color: map-get($nav-pills-properties, link-active-color) !important;
    background-color: map-get($nav-pills-properties, link-active-bg) !important;
  }

}

@include media-breakpoint-down(sm) {
  .nav-pills:not(.nav-pills-circle) {
    .nav-item {
      padding-right: 0 !important
