// Variables
$white: #fff;
$success: #28a745;
$info: #17a2b8;
$primary: #007bff;
$warning: #ffc107;
$danger: #dc3545;
$dark-gray: #6c757d;
$font-weight-extra-bold: 800;
$font-weight-normal: 400;
$font-weight-light: 300;
$font-paragraph: 14px;

.table {
  & > tbody > tr > td {
    color: rgba($white, 0.7);

    .photo {
      height: 30px;
      width: 3
