# This file is a requirements.txt file for managing Python packages
# It is recommended to use this file with 'pip install -r requirements.txt'

requests
PySocks
pydantic
moviepy
pycryptodomex



pip install --upgrade packages



pip install --upgrade requests PySocks pydantic moviepy pycryptodomex

