.card-contributions {
  // Include card-stats mixin
  @include card-stats;

  .card-description {
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .card-title {
    padding-top: 2rem;
  }

  .card-stats {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 11px;
    box-sizing: border-box;
  }

  .card-footer {
    [class*="col-"]:not(:first-child):before {
      content: "";
      position: absolute;
      left: 0;
      width: 1px;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  .bootstrap-switch {
    margin: 0;
  }

  .description-text {
    padding-left: 15px;
    text-align: left;
    max-width: 125px;
    color: $opacity-6;
  }
}

// Media query for xs breakpoint
@include media
