$card-bg: $white;
$card-title-color: rgba($white, 0.9);
$card-text-color: rgba($white, 0.9);
$card-shadow: 0px 0px 40px 15px rgba($default-states, 0.3);
$card-radius: $border-radius-sm;

@mixin card-style {
  position: relative;
  z-index: 1;
  min-height: 400px;
  background: $card-bg;
  box-shadow: none;

  &.card-raised {
    z-index: 3;
    box-shadow: $card-shadow;
    padding: 20px 0;
    border-radius: $card-radius;

    img {
      border-radius: $card-radius;
    }
  }

  .card-body {
    overflow: hidden;
    padding: 0;

    .card-title {
      position: relative;
      font-size: 5em;
      font-weight: 900;
      text-transform: lowercase;
      margin-left: -5px;
      z-index: 1;
      color: $card-title-color;

      &.card-title-right {
        text-align: right;
        margin-right: -5px;
      }
    }

    img {
      position: absolute;
      border-radius: $card-radius;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 0;
    }

    .card-prices {
      position: relative;
      z-index: 2;
      text-align: center;

      .text-on-front {
        font-size: 3.6em;
        font-weight: 900;
        color: $card-text-color;

        span {
          font-size: 0.7em;
        }
      }

      .text-on-back {
        position: relative;
        font-size: 9.5em;
        margin-top: -160px;
        font-weight: 900;
        color: rgba($default-states, 0.1);
      }

      .plan {
        font-weight: 600;
        font-size: 0.8em;
        margin-top: -80px;
        color: $card-text-color;
      }
    }
  }

  ul {
    list-style: none;
    padding: 0;
    max-width: 240px;
    margin: 80px auto 40px;

    li {
      color: $card-text-color;
      background: transparent;
      text-align: center;
      font-size: 1.2em;
      font-weight: bold;
      padding: 5px 0;
      border: none;
    }
  }
}

.card-primary,
.card-info,
.card-success,
.card-warning,
.card-danger {
  &.card-body .card-prices {
    .text-on-back {
      color: rgba(get-color(primary), 0.1);
    }
  }
}

.card-white {
  $card-bg: white;
  $card-title-color: white;

  &.card-body .card-prices {
    .text-on-front,
    .plan {
      color: $default-states;

      span {
        color: $default-states;
      }
    }
  }

  ul li {
    color: $default-states;
  }

  .list-group-item {
    background: transparent;
  }
}

@include media-breakpoint-up(md) {
  .pricing-page {
    [class*="col-"] {
      &:first-child {
        padding-right: 0;

        .card:not(.card-raised) {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
      }

      &:not(:first-child):not(:last-child) {
        padding: 0;

        .card:not(.card-raised) {
          border-radius: 0;

          img {
            border-radius: 0;
          }
        }
      }

      &:last-child {
        padding-left: 0;

        .card:not(.card-raised) {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
      }
    }
  }
}
