# .gitignore file
# 
# This file specifies intentionally untracked files that Git should ignore
# when checking for changes in the project.
# 
# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# GitHub Copilot persisted chat sessions
/copilot/chatSessions
